body, html {
    height: 100%;
}

.navbar {
    color: white;
}

#bgVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
}

#about {
    position: fixed;
    bottom: 0;
}