body, html {
    height: 100%;
}

.navbar {
    right: 0;
    z-index: 1000;
    background: transparent;
}

#bgVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%; 
}

#about {
    position: fixed;
    bottom: 0;
}